<% include ../partials/header %>

<h1>:username/index.ejs -- the global gitsprint feed</h1>
<h5>Current user is: <%= currentUser.username %></h5>
<a href="<%= currentUser.username %>/profile">Your Profile</a>

<% include ../partials/footer %>