<!DOCTYPE html>
<html>
    <head>
        <title>GitSprint</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="icon" type="image/png" href="/images/collaboration.png">
    </head>
        <body>
            <div class="container.fluid">
                <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/">
                            <img src="/images/collaboration.png" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-right:10px;">
                            GitSprint
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                            <form action="/login" method="POST">
                                                <span>Email/Username</span>
                                                    <input type="text" name="username" placeholder="username">
                                                <span>Password</span>
                                                    <input type="password" name="password" placeholder="password" autocomplete="off">
                                                <input type="submit" value="Login" style="margin-left: 15px; width: 70px;">
                                            </form>
                                    </li>
                                 </ul>
                        </div>
                </nav>
            </div>
            <div class="container.fluid">
                <!-- <h1> THIS IS GONNA BE THE HOME PAGE </h1>
                <h5>Here is some more content</h5>
                <p>Here is a paragraph.</p> -->
                <div class="jumbotron" id="mainJumbo">
                        <h1 class="display-4">Hello!</h1>
                        <p class="lead">This is GitSprint. A place to share your software projects, find like-minded teammates, and get things done together.</p>
                        <hr class="my-4">
                        <a class="btn btn-primary btn-lg" href="/register" role="button">Sign Up</a>
                      </div>
            </div>

            <footer>
                <p>&copy; 2019 GitSprint</p>
            </footer>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </body>
</html>