footer {
    background-color: palegoldenrod;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px 0px;
    text-align: center;
}

body .navbar {
    background-color: palegoldenrod;
    padding: 10px 35px;
}

.nav-item input {
    width: 125px;
    height: 25px;
    /* display: inline-block; */
}

#mainJumbo {
    /* height: 100%; */
    margin-bottom: 0px;
    height: 100vh;
}