footer {
    background-color: palegoldenrod;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    /* margin-top: 2000px; */
    padding: 10px 0px;
    text-align: center;
}

body .navbar {
    background-color: palegoldenrod;
    padding: 10px 70px;
    /* margin-bottom: 100px; */
}

.nav-item input {
    width: 125px;
    height: 25px;
}

#mainJumbo {
    margin-bottom: 0px;
    height: 100vh;
}

#projects {
    margin: 0px 0px 100px 0px;
}