<% include ../partials/header %>

    <h1>
        User profile page for <%= currentUser.username %>
    </h1>
    <ul>
        
    </ul>
    <p>
        <a class="btn btn-primary" href="/<%= currentUser.username %>/projects/new">Create new Project</a>
    </p>

<% include ../partials/footer %>